html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    background-color: #8a4b6052;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.mainHeader {
    color: #0a3110;
    text-align: center;
    margin: 24px 20px 15px;
}